.projectBox {
    background-color: #ffedcd11;
}
.projectImage {
    scale: 100%;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}
.projectBox:hover .projectImage {
    scale: 110%;
    transition-duration: 0.5s;
}