.education .language li .languageName {
    width: 100%;
    opacity: 100%;
    transition: opacity .5s, width 1s;
}
.education .language li:hover .languageNameHover {
    width: 0%;
    opacity: 0%;
}
.education .language li .hidden {
    width: 1%;
    opacity: 0%;
    animation-name: dontShow;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}
.education .language li:hover .hidden {
    display: inline;
    animation-name: showHover;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    width: 100%;
    opacity: 100%;
}
@keyframes showHover {
    from {
        width: 1%;
        opacity: 0%;
    }
    to {
        width: 100%;
        opacity: 100%;
    }
}
@keyframes dontShow {
    from {
        display: inline;
        width: 100%;
        opacity: 100%;
    }
    to {
        display: inline;
        width: 1%;
        opacity: 0%;
    }
}